Getting Help - Using the Forums
-------------------------------

The Discussion Forums for the Oracle Coherence Incubator are the best place to start
asking questions - should you need to.   These forums are hosted by Oracle and
are typically monitored by the community.

They can be found here: [https://forums.oracle.com/forums/forum.jspa?forumID=558](https://forums.oracle.com/forums/forum.jspa?forumID=558)

>   To participate in the discussion forums you will need an oracle.com account. 
