Issue Tracking
--------------

The [Issue Tracking][ISSUES] system for Coherence Incubator is hosted at [github][GITHUB].

It can be found here: [https://github.com/coherence-community/coherence-incubator/issues][ISSUES]

<h4>Raising Issues:</h4>

To raise an issue representing a defect or feature request in the issue tracking
system you need to have a [github][GIHUB] account.  These are free.

<h4>Modifying and Closing Issues:</h4>

To resolve and close issues with the issue tracking system you will
need to be a [contributor](contributions.html).

[ISSUES]:       https://github.com/coherence-community/coherence-incubator/issues "Issue Tracking"
[GITHUB]:       https://github.com/coherence-community "GitHub - Coherence Community"
