Source Code
-----------

The Source Code for the Oracle Coherence Incubator is hosted by github.com.  
It can be found here: 
[https://github.com/coherence-community/coherence-incubator](https://github.com/coherence-community/coherence-incubator)

In the branch: **develop-11**

<h4>Important:</h4>

1.  Source Code and Documentation is licensed under [CDDL-1.0](license.html).

2.  **Read-Only Access** is provided to the public.

3.  **Pull Requests** are never accepted.  

4.  Only submissions by official [contributors](contributions.html) are accepted.
