Upgrading from Previous Releases
--------------------------------

<h4>Upgrading from Coherence Incubator 11.0.0</h4>

Upgrading to Coherence Incubator 11.1.0 is as simple as replacing previous `jars`.

For the most part this release should be considered a "patch", but as we changed one
of the internal, yet public APIs, we've increased the version number.

The detailed change history can be found [here](history.html).

<h4>Upgrading from Coherence Incubator 10</h4>

Upgrading from Oracle Coherence Incubator 10 is typically as simple as replacing
previous `jars` with the new `jars`, those of which are available for download
(if you're not using Maven) from [maven.java.net](http://maven.java.net).

If you're using Maven, all you need to do is include the appropriate
artifacts from the maven.java.net repository.

    <dependency>
        <groupId>com.oracle.oracle.incubator<groupId>
        <artifactId>${project.name}<artifactId>
        <version>11.0.0</version>
    </dependency>

Where the ${project.name} is one of: `coherence-common`, `coherence-commandpattern`,
`coherence-functorpattern`, `coherence-messagingpattern`, `coherence-eventdistributionpattern`,
or `coherence-pushreplicationpattern`.

While the source code is readily available on [github](http://github.com/coherence-community),
the source code and java documentation for each released artifact is also published to
[maven.java.net](http://maven.java.net).  This enables simple and clean integration with
all development environments supporting Maven.

<h4>Upgrading from pre-Coherence Incubator 10 Releases</h4>

Migrating from releases prior to Oracle Coherence Incubator 10 requires more effort.
In most cases the changes will require refactoring previous configurations to use
newer styles and technologies.  Some patterns, like Push Replication, may require
more effort than others, however once migrated to this release, moving forward
will be much easier.
