Upgrading from Previous Releases
--------------------------------

<h4>Upgrading from Coherence Incubator 12</h4>

While Coherence Incubator 13 is considered a major release, most developers should find that
upgrading from Coherence Incubator 12 should be as simple as replacing the previous `jars`.

>   In terms of branches, Coherence Incubator 13 was branched from Coherence Incubator 12.4.0
>   which means all of the latest and applicable fixes in Coherence Incubator 12.4.0+ are also
>   in Coherence Incubator 13.

There of course will be exceptions, especially for those developers that have customized internal
implementation classes (as these may have changed, been refactored or removed), but for the
most part challenges like this should be very isolated.   We've tried hard to ensure we didn't
remove important interfaces, especially those that aren't provided by Coherence.

If you're using Maven, all you should do is update the appropriate artifact version from the
maven.java.net repository.

    <dependency>
        <groupId>com.oracle.oracle.incubator<groupId>
        <artifactId>${project.name}<artifactId>
        <version>13.0.0</version>
    </dependency>

Where the ${project.name} is one of: `coherence-common`, `coherence-commandpattern`,
`coherence-functorpattern`, `coherence-messagingpattern`, `coherence-eventdistributionpattern`,
or `coherence-pushreplicationpattern`.


<h4>Upgrading from pre-Coherence Incubator 12 Releases</h4>

Migrating from releases prior to Oracle Coherence Incubator 12 requires more effort.
In most cases the changes will require refactoring previous configurations to use
newer styles and technologies.  Some patterns, like Push Replication, may require
more effort than others, however once migrated to this release, moving forward
will be much easier.
